body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1, h3{
  text-align: center;
}

p{
  text-align: justify;
}

.aqua{
  background-color: aqua;
}

.brown{
  background-color: brown;
  padding: 50px;
  color: white;
}

.orange{
  background-color: orange;
  padding: 50px 200px;
}

.blue{
  background-color: blue;
  padding-top: 100px;
  color: white;
}

.green{
  background-color: green;
  padding-bottom: 100px;
  color: white;
}

.pink{
  background-color: pink;
  padding-left: 100px;
}

.purple{
  background-color: purple;
  padding-right: 100px;
  color: white;
}

.red{
  background-color: red;
  padding: 0px 100px 20px 40px;
}

.deepskyblue{
  background-color: deepskyblue;
  padding: 10px 50px 100px;
}