@font-face {
    font-family: 'DIN Pro Medium';
    src: url('DINPro-Medium.eot');
    src: url('DINPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('DINPro-Medium.woff2') format('woff2'),
        url('DINPro-Medium.woff') format('woff'),
        url('DINPro-Medium.ttf') format('truetype'),
        url('DINPro-Medium.svg#DINPro-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DIN Pro Regular';
    src: url('DINPro.eot');
    src: url('DINPro.eot?#iefix') format('embedded-opentype'),
        url('DINPro.woff2') format('woff2'),
        url('DINPro.woff') format('woff'),
        url('DINPro.ttf') format('truetype'),
        url('DINPro.svg#DINPro') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans.eot');
    src: url('OpenSans.eot?#iefix') format('embedded-opentype'),
        url('OpenSans.woff2') format('woff2'),
        url('OpenSans.woff') format('woff'),
        url('OpenSans.ttf') format('truetype'),
        url('OpenSans.svg#OpenSans') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Medium.eot');
    src: url('Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-Medium.woff2') format('woff2'),
        url('Montserrat-Medium.woff') format('woff'),
        url('Montserrat-Medium.ttf') format('truetype'),
        url('Montserrat-Medium.svg#Montserrat-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DIN Pro Cond Light';
    src: url('DINPro-CondensedLight.eot');
    src: url('DINPro-CondensedLight.eot?#iefix') format('embedded-opentype'),
        url('DINPro-CondensedLight.woff2') format('woff2'),
        url('DINPro-CondensedLight.woff') format('woff'),
        url('DINPro-CondensedLight.ttf') format('truetype'),
        url('DINPro-CondensedLight.svg#DINPro-CondensedLight') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DIN Pro Cond Black';
    src: url('DINPro-CondensedBlack.eot');
    src: url('DINPro-CondensedBlack.eot?#iefix') format('embedded-opentype'),
        url('DINPro-CondensedBlack.woff2') format('woff2'),
        url('DINPro-CondensedBlack.woff') format('woff'),
        url('DINPro-CondensedBlack.ttf') format('truetype'),
        url('DINPro-CondensedBlack.svg#DINPro-CondensedBlack') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DIN Pro Bold';
    src: url('DINPro-Bold.eot');
    src: url('DINPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('DINPro-Bold.woff2') format('woff2'),
        url('DINPro-Bold.woff') format('woff'),
        url('DINPro-Bold.ttf') format('truetype'),
        url('DINPro-Bold.svg#DINPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DIN Pro Cond Medium';
    src: url('DINPro-CondensedMedium.eot');
    src: url('DINPro-CondensedMedium.eot?#iefix') format('embedded-opentype'),
        url('DINPro-CondensedMedium.woff2') format('woff2'),
        url('DINPro-CondensedMedium.woff') format('woff'),
        url('DINPro-CondensedMedium.ttf') format('truetype'),
        url('DINPro-CondensedMedium.svg#DINPro-CondensedMedium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DIN Pro Cond Bold';
    src: url('DINPro-CondensedBold.eot');
    src: url('DINPro-CondensedBold.eot?#iefix') format('embedded-opentype'),
        url('DINPro-CondensedBold.woff2') format('woff2'),
        url('DINPro-CondensedBold.woff') format('woff'),
        url('DINPro-CondensedBold.ttf') format('truetype'),
        url('DINPro-CondensedBold.svg#DINPro-CondensedBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DIN Pro Cond Regular';
    src: url('DINPro-CondensedRegular.eot');
    src: url('DINPro-CondensedRegular.eot?#iefix') format('embedded-opentype'),
        url('DINPro-CondensedRegular.woff2') format('woff2'),
        url('DINPro-CondensedRegular.woff') format('woff'),
        url('DINPro-CondensedRegular.ttf') format('truetype'),
        url('DINPro-CondensedRegular.svg#DINPro-CondensedRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

