body{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

h1{
  text-align: center;
  font-size: 40px;
}

p{
  width: 75%;
  margin: auto;
}

img{
  width: 600px;
  margin-top: 40px;
  border-radius: 10px;
}

div{
  margin:auto;
  background-color: rgba(0,0,0,0.25);
  width: 75%;
  border-radius: 15px;
  padding-top: 10px;
  padding-bottom: 40px;
  text-align: center;
}


@media all and (width <= 890px){
    body{background-color: rgb(175,175,175);}

    h1{font-size: 32px;}

    img{width: 75%;}
}

@media all and (width <= 550px){
  body{background-color: rgb(75,75,75);}

  div{
    border: 1px solid white;
    background-color: rgba(255,255,255,0.25);
  }
  h1{font-size: 24px;}

  p{font-size: 12px;}

  img{
    margin-top: 40px;
    border-radius: 10px;
  }
}

