body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}

button{margin-left: 20px;}

.default{cursor: default;}

.pointer{cursor: pointer;}

.wait{cursor: wait;}

.grab{cursor: grab;}

.grabbing{cursor: grabbing;}

.crosshair{cursor: crosshair;}

.zoom-in{cursor: zoom-in;}

.zoom-out{cursor: zoom-out;}

.all-scroll{cursor: all-scroll;}

.cell{cursor: cell;}

.copy{cursor: copy;}

.help{cursor: help;}

.progress{cursor: progress;}

.vermelho{
  border: 4px dotted black;
  border-radius: 10px;
  background-color: red;
}

.verde{
  border: 4px dotted black;
  border-radius: 10px;
  background-color: green;
}

.azul{
  border: 4px dotted black;
  border-radius: 10px;
  background-color: blue;
}