body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.textohorizontal{
  resize: horizontal;
}

.textovertical{
  resize: vertical;
}

.textonenhum{
  resize: none;
}