body{
  background-image: url("/01_html/aula_018/lisboa_02.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

h1{
  text-align: center;
}

h3{
  text-align: center;
  background-color: blue;
  color: white;
}

p{
  border: 8px groove yellow;
  background-color: red;
}