body{
  max-width: 1280px;
  margin: auto;
}
header .logo{margin-top: 35px;}
header .logo img{
  width: 317px;
  height: 44px;
}
a{text-decoration: none;}

header .navbar{
  margin-top: 10px;
  background-color: #333333 !important;
  width: 795px;
  height: 70px;
  top: 35px;
  z-index: 1;
}

header .navbar-nav{
  display: flex;
  align-items: center !important;
}
header .navbar a, footer .menu a{
  font-family: 'DIN Pro Cond Medium';
  font-size: 18px;
  text-transform: uppercase;
  color: rgba(211, 211, 211, 0.80);
  padding: 25px 0px;

}

header .nav a:hover{
  /* font-family: 'DIN Pro Cond Black'; */
  border-top: 4px solid #c6021a;
  color: white;
}

header .nav:has(a:hover) .active {
  border-top-color: transparent;
}

header .nav-item .active{
  color: white !important;
  border-top: 4px solid #c6021a;
}

header .dropdown-menu{
  background-color: #4d4d4d;
  padding: 8px 15px;
  
}

header .dropdown-item:hover{
  background-color: #4d4d4d;
  border-top: none !important;
}

header .dropdown-divider{
  border-color: white;
}

header .nav-link.show{color: white !important;}

main span{border-bottom: 3px solid #c6021a;}

.t1{
  font-family: 'DIN Pro Cond Medium';
  font-size: 46px;
  color: #4d4d4d;
  margin-top: 90px;
}

main .almada{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
  /* justify-content: center !important; */
  justify-self: center;
  margin-top: 85px;
  /* height: 930px; */
}

main .almada img{
  width: 460px !important;
  height: 420px;
}

main .almada-texto{
  width: 420px;
  min-height: 205px;
  background-color: rgba(0, 0, 0, 0.80);
  margin: auto;
  position: relative;
  bottom: 550px;
  color: white;
}

main .almada-texto h5, .almada-texto p{
  padding-left: 65px;
  font-family: 'DIN Pro Cond Medium' !important;
  font-size: 30px;
}

main .almada-texto h5{padding-top: 35px;}
main .almada-texto p{text-transform: uppercase;}

main .setas{
  display: flex;
  justify-content: space-around;
}



main .carousel-control-prev, .carousel-control-next{
  position: relative;
  /* width: 20px;
  height: 32px; */
  /* transform: scale(3,1); */
  z-index: 2;
}

main .carousel-indicators{
  position: relative;
  margin: 0px;
  bottom: 380px;
}

main .carousel-indicators [data-bs-target]{
  width: 19px;
  height: 19px;
  background-color: transparent;
  background-image: url("../imagens/bola-tipo-de-fogo-por-seleccionar.svg");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
}
main .carousel-indicators .active{
  background-image: url("../imagens/bola-tipo-de-fogo-seleccionada.svg");
}

main hr{
  border: none;
  height: 10px;
  background: linear-gradient(to bottom,black, transparent);
}

footer{
  height: 100%;
  background-color: #333333;
}

footer .menu {
  margin-top: 55px;
}

footer .menu a{padding: 0px 22.5px;}

footer .menu a.active{color: white;}

footer .t1{
  margin-top: 30px;
  color: white;
}

footer .campos{
  margin-top: 30px;
  font-family: "DIN Pro Cond Medium";
  font-size: 30px;
}

footer .campos-c{
  font-family: "DIN Pro Regular";
  font-size: 15px;
  margin-top: 20px;
}

footer .campos.text-end{padding-right: 40px;}

footer .padding{padding: 0px 20px;}

footer .separador {
  margin-top: 45px;
  border-top: 2px solid #c6021a;
  width: 810px;
}

footer .facebook, footer .ralc{
  width: 130px;
  height: 50px;
  background-image: url("../imagens/icones/facebook-branco.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

footer .facebook:hover{
  background-image: url("../imagens/icones/facebook-vermelho.svg");
  cursor: pointer;
}

footer .ralc{
  width: 200px;
  height: 46px;
  background-image: url("../imagens/icones/ralc.svg");
  margin-left: 140px;
}


footer .icones{margin-top: 45px;}

footer .copy{
  font-family: "DIN Pro Regular";
  font-size: 15px;
  margin-top: 45px;
  margin-bottom: 40px;
}
