body{
  max-width: 1280px;
  margin: auto;
}
.carousel img{
  height: 50vw;
  max-height: 750px;
  object-fit: cover;
}

a{
  text-decoration: none;
  color: black;
}

.card img{
  height: 190px;
}

.viagem-img img{
  height: 372px;
}