body{font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif}

h1, h2, h3{text-align: center;}

.pai{
  background-color: lightgreen;
  margin: 20px auto;
  text-align: center;
  width: 400px;
  height: 400px;
  display: flex;
  border: 4px solid black;
}

.filho{
  padding: 5px;
  background-color: lightsalmon;
  border: 2px solid black;
}

.linha{flex-direction: row;}

.coluna{flex-direction: column;}

#pai-1{align-items: stretch;}

#pai-2{align-items: flex-start;}

#pai-3{align-items: flex-end;}

#pai-4{align-items: center;}

#pai-5{align-items: stretch;}

#pai-6{align-items: flex-start;}

#pai-7{align-items: flex-end;}

#pai-8{align-items: center;}

#pai-9{
  justify-content: center;
  align-items: center;
  background-color: yellow;
}
