body{font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

h1, h3{text-align: center;}

div{
  border: 1px solid black;
  background-color: #90EE8F;
  text-align: justify;
  padding: 20px;
}

#none{text-decoration: none;}

#solid{text-decoration: underline solid red 3px;}

#dotted{text-decoration: underline dotted red 3px;}

#wavy{text-decoration: underline wavy red 3px;}

#double{text-decoration: underline double red 3px;}

#dashed{text-decoration: underline dashed red 3px;}

#over{text-decoration: overline solid red 3px;}

#line{text-decoration: line-through solid red 3px;}

#all{text-decoration: underline overline line-through solid red 3px;}

#yellow{background-color: yellow;}

#text-decoration{
  text-decoration-color: blue;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 3px;
}